In [1]:
import pandas as pd

In [2]:
data_path = 'data/'

In [28]:
xray_metadata = pd.read_csv(data_path+"Chest_xray_Corona_Metadata.csv")

In [29]:
xray_metadata.head()

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
0,0,IM-0128-0001.jpeg,Normal,TRAIN,NaN,NaN
1,1,IM-0127-0001.jpeg,Normal,TRAIN,NaN,NaN
2,2,IM-0125-0001.jpeg,Normal,TRAIN,NaN,NaN
3,3,IM-0122-0001.jpeg,Normal,TRAIN,NaN,NaN
4,4,IM-0119-0001.jpeg,Normal,TRAIN,NaN,NaN

In [30]:
xray_metadata_train = xray_metadata[xray_metadata.Dataset_type == 'TRAIN']
xray_metadata_test = xray_metadata[xray_metadata.Dataset_type == 'TEST']

In [31]:
xray_metadata_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5286 entries, 0 to 5285
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5286 non-null   int64
 1   X_ray_image_name        5286 non-null   object
 2   Label                   5286 non-null   object
 3   Dataset_type            5286 non-null   object
 4   Label_2_Virus_category  69 non-null     object
 5   Label_1_Virus_category  3944 non-null   object
dtypes: int64(1), object(5)
memory usage: 289.1+ KB

In [32]:
xray_metadata_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 624 entries, 5286 to 5909
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              624 non-null    int64
 1   X_ray_image_name        624 non-null    object
 2   Label                   624 non-null    object
 3   Dataset_type            624 non-null    object
 4   Label_2_Virus_category  0 non-null      object
 5   Label_1_Virus_category  390 non-null    object
dtypes: int64(1), object(5)
memory usage: 34.1+ KB

In [34]:
xray_metadata_train.groupby(["Label"])["Label"].count()

Label
Normal      1342
Pnemonia    3944
Name: Label, dtype: int64

In [35]:
xray_metadata_train.groupby(["Label", "Label_1_Virus_category"]).count()

                                 Unnamed: 0  X_ray_image_name  Dataset_type  \
Label    Label_1_Virus_category
Pnemonia Stress-Smoking                   2                 2             2
         Virus                         1407              1407          1407
         bacteria                      2535              2535          2535

                                 Label_2_Virus_category
Label    Label_1_Virus_category
Pnemonia Stress-Smoking                               2
         Virus                                       62
         bacteria                                     5

In [36]:
xray_metadata_train.groupby(["Label", "Label_2_Virus_category",	"Label_1_Virus_category"]).count()

                                                        Unnamed: 0  \
Label    Label_2_Virus_category Label_1_Virus_category
Pnemonia ARDS                   Stress-Smoking                   2
         COVID-19               Virus                           58
         SARS                   Virus                            4
         Streptococcus          bacteria                         5

                                                        X_ray_image_name  \
Label    Label_2_Virus_category Label_1_Virus_category
Pnemonia ARDS                   Stress-Smoking                         2
         COVID-19               Virus                                 58
         SARS                   Virus                                  4
         Streptococcus          bacteria                               5

                                                        Dataset_type
Label    Label_2_Virus_category Label_1_Virus_category
Pnemonia ARDS                   Stress-Smoking                     2
         COVID-19               Virus                             58
         SARS                   Virus                              4
         Streptococcus          bacteria                           5

In [37]:
xray_metadata_train.groupby(["Label", "Label_2_Virus_category"]).count()

                                 Unnamed: 0  X_ray_image_name  Dataset_type  \
Label    Label_2_Virus_category
Pnemonia ARDS                             2                 2             2
         COVID-19                        58                58            58
         SARS                             4                 4             4
         Streptococcus                    5                 5             5

                                 Label_1_Virus_category
Label    Label_2_Virus_category
Pnemonia ARDS                                         2
         COVID-19                                    58
         SARS                                         4
         Streptococcus                                5

In [39]:
xray_metadata_train[xray_metadata_train.Label_1_Virus_category == 'Virus']

,Unnamed: 0,X_ray_image_name,Label,Dataset_type,Label_2_Virus_category,Label_1_Virus_category
1341,1341,person101_virus_188.jpeg,Pnemonia,TRAIN,NaN,Virus
1342,1342,person101_virus_187.jpeg,Pnemonia,TRAIN,NaN,Virus
1343,1343,person1019_virus_1708.jpeg,Pnemonia,TRAIN,NaN,Virus
1344,1344,person1019_virus_1707.jpeg,Pnemonia,TRAIN,NaN,Virus
1346,1346,person1018_virus_1706.jpeg,Pnemonia,TRAIN,NaN,Virus
...,...,...,...,...,...,...
5281,5304,1-s2.0-S0929664620300449-gr2_lrg-c.jpg,Pnemonia,TRAIN,COVID-19,Virus
5282,5305,1-s2.0-S0929664620300449-gr2_lrg-b.jpg,Pnemonia,TRAIN,COVID-19,Virus
5283,5306,1-s2.0-S0929664620300449-gr2_lrg-a.jpg,Pnemonia,TRAIN,COVID-19,Virus
5284,5307,1-s2.0-S0140673620303706-fx1_lrg.jpg,Pnemonia,TRAIN,COVID-19,Virus
5285,5308,01E392EE-69F9-4E33-BFCE-E5C968654078.jpeg,Pnemonia,TRAIN,COVID-19,Virus